/* font-family: muli */
@import url("https://use.typekit.net/ysf4qrp.css");

/* font-family: poppins */
@import url("https://use.typekit.net/ysf4qrp.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;

  max-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}



:root {
  --ff-m: muli, sans-serif;
  --ff-p: poppins, sans-serif;

  --fs-7: 0.7rem;
  --fs-8: 0.7rem;
  --fs-9: 0.8rem;
  --fs-10: 0.9rem;

  --lh-7: 1rem; /* 16px */
  --lh-8: 1rem; /* 20px */
  --lh-10: 1.25rem; /* 28px */

  --accents-1: #002933;
  --accents-2: #002F3A;

  --primary-green: #00252E;
  --primary-blue: #0058FF;
  --secondary-green: #074C5D;
  --black: #000000;
  --white: #FFFFFF;
  --off-white: #FAF9F6;
  --yellow: #F6D500;
  --placeholder: #9F9F9F;
  --gray: #7E84A3;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--secondary-green);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: var(--secondary-green);
}



@media screen and (min-width: 280px) {
  /* 320px — 480px: Mobile devices */
}

@media screen and (min-width: 360px) {
  /* 481px — 768px: iPads, Tablets */
}
  
@media screen and (min-width: 481px) {
  /* 481px — 768px: iPads, Tablets */
}

@media screen and (min-width: 769px) {
  /* 769px — 1023px: Small screens, laptops */
  :root {
    --ff-m: muli, sans-serif;
    --ff-p: poppins, sans-serif;
  
    --fs-7: 0.7rem;
    --fs-8: 0.8rem;
    --fs-9: 0.9rem;
    --fs-10: 1.125rem;
  
    --lh-7: 1rem; /* 16px */
    --lh-8: 1.25rem; /* 20px */
    --lh-10: 1.75rem; /* 28px */
  }
}

@media screen and (min-width: 1024px) {
  /* 1201px and more —  Extra large screens, TV */
}




