.container {
    height: 40px;
    width: 210px;

    border-radius: 4px;
    border: none !important;

    position: relative;
}

.label {
    font-size: 0.7rem;
    font-weight: 800;
    font-family: var(--ff-m);

    color: #808080;

    position: absolute;
    top: 15px;
    left: 10px;

    display: flex;
    align-items: center;

    z-index: 10;

    transition: all 0.4s;
}

.input {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: #00252E;
    border-radius: 4px; 
    border: 2px solid #004E61;

    font-family: var(--ff-m);
    font-weight: bold;
    font-size: 0.7rem; 

    color: #636C72;

    padding: 0 10px; 
    
    outline: none;

    transition: all 0.4s;

    z-index: 0;
}

.input:focus {
    background-color: #004E61;
    border: none;
}

.input:focus ~ .label,
.input:valid ~ .label,
.input:disabled ~ .label {
    top: -13px;

    border-radius: 5px 5px;
    background-color: black; 

    height: 20px;
    padding: 5px;

    font-size: 0.7rem;
    font-weight: bold; 
}

.input:valid {
    background-color: #004E61;
}

.input:-webkit-autofill {
    background-color: #00252E;
}

.input:focus {
    background-color: #004E61;
}